<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties version="1.0">
  <entry key="board.reasoner">none</entry>
  <entry key="jdbc.url">jdbc:mysql://localhost/mate</entry>
  <entry key="jdbc.username">mate</entry>
  <entry key="jdbc.password">password</entry>
  <entry key="jdbc.driver">com.mysql.jdbc.Driver</entry>
  <entry key="xmpp.server">localhost</entry>
  <entry key="xmpp.username">hub</entry>
  <entry key="xmpp.password">hub</entry>
  <entry key="mail">false</entry>
  <entry key="sms">false</entry>
  <entry key="languages">en,de</entry>
  <entry key="web">true</entry>
  <entry key="web.port">8000</entry>
  <entry key="d2rq.configuration">d2rq.n3</entry>
  <entry key="d2rq.baseurl">http://localhost/</entry>
</properties>
